<div class="container">
    <div class="relative" style="text-align: center;">
        <img src="img/logo.png" class="img-responsive" id="logo"/>  
    </div>
    <div class="button-box">
        <a href="/map">
            <button id="searchButton" class="btn btn-block btn-primary" style="text-align: center;">Buscar</button>
        </a>
    </div>
</div>
<style>
    body {
        background-color: #333;
    }
    .button-box {
        margin: 0 auto;
    }
    #searchButton {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @media (min-width: 1080px) {
        .button-box {
            
        }
    }
</style>