<div class="container">
    <div class="container" style="text-align: center;">
        <img src="img/logo.png" class="img-responsive" id="logo"/>  
        <a href="/map">
            <button class="btn btn-primary btn-block" id="search">Buscar</button>
        </a>
    </div>
</div>
<style>
    body {
        background-color: #333;
    }
    #search {
        font-size: 25px;
        padding: 24px;
    }
    #logo {
        max-height: 70vh;
    }
</style>