<div class="container">
    <div class="relative">
        <img src="img/logo.png" class="img-responsive" style="margin: 0 auto; max-width: 360px;"/>  
    </div>
    <div class="button-box">
        <a href="/map">
            <button id="searchButton" class="btn btn-block btn-primary" style="text-align: center;">Buscar</button>
        </a>
    </div>
</div>
<style>
    body {
        background-color: #333;
    }
    .button-box {
        max-width: 300;
        margin: 0 auto;
    }
    #searchButton {
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>