<div class="container">
    <div class="button-box">
        <button id="searchButton" class="btn btn-block btn-primary">Buscar</button>
    </div>
</div>
<style>
    body {
        background-color: #333;
    }
    #searchButton {
        width: 240px;
        height: 45px;
        background-color: #FFF;
        color: #000;
        text-align: center;
    }
    .button-box {
        width: 240px;
        margin: 0 auto;
    }
</style>